[submodule "bx"]
	path = deps/bx
	url = git://github.com/bkaradzic/bx.git
[submodule "bimg"]
	path = deps/bimg
	url = git://github.com/bkaradzic/bimg.git
[submodule "bgfx"]
	path = deps/bgfx
	url = git://github.com/bkaradzic/bgfx.git
